<!DOCTYPE html>
<html>
<head>
  <title>Form Handling and Validation</title>
  <script src="https://unpkg.com/vue@3.2.31"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <div class="container">
      <form @submit.prevent="submitForm" class="form">
        <div class="form-group">
          <label>Username:</label>
          <input type="text" v-model="username">
          <p v-if="!username" class="error-message">Username is required.</p>
        </div>

        <div class="form-group">
          <label>Email:</label>
          <input type="email" v-model="email">
          <p v-if="!isEmailValid" class="error-message">Invalid email address.</p>
        </div>

        <div class="form-group">
          <label>Password:</label>
          <input type="password" v-model="password">
          <p v-if="!isPasswordValid" class="error-message">Password must be at least 6 characters long.</p>
        </div>

        <button class="submit-button" :disabled="!isFormValid">Submit</button>
      </form>
    </div>
  </div>

  <script src="app.js"></script>
</body>
</html>